<div class="container-fluid">
<h4>Checkout Successful!</h4>
<h3>Invoice Number:{{invoice.invoiceId | uppercase}}</h3>
  <div *ngFor="let product of invoice.itemsBought" class="row">
  <div class="col-md-1">
      <a href="#" class="thumbnail">
        <img src="img/{{product.imageId}}" class="img-rounded" style="max-height: 120px; overflow:hidden"/>
      </a>
  </div>
  <div class="col-md-2">{{product.name}}</div>
  <div class="col-md-1"><label>Item price:&nbsp;</label>{{product.price | fixedCurrency}}</div>
  <div class="col-md-2"><label>Quantity:&nbsp;</label>{{product.quantity}}</div>
  <div class="col-md-2"><label>Item total:&nbsp;</label>{{product.itemTotal | fixedCurrency}}</div>
</div>
<div>
  <label>Amount Due:&nbsp;</label>{{invoice.totalCost | fixedCurrency }}
</div>
<div class="error" *ngIf="error">{{error}}</div>
</div>
